.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  text-align: center;
  padding: 100px;
  color: chocolate;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.aboutpage-img {
  margin-right: 40px;
}

.aboutpage-img img {
  border: 3px solid #73ad21;
  width: 300px;
  height: auto;
}
