.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 260px));
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem 3rem;
  width: 100%;  
  box-sizing: border-box;
}
@media (max-width: 900px) {
  .pokemon-grid {
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 700px) {
  .pokemon-grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1rem;
  }
}



.poke-search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
  padding-top: 1%;
  margin-top: 10;
  
}

.next-prev {
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;

}