.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  
  box-sizing: border-box;
}



.poke-search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
  padding-top: 1%;
  margin-top: 10;
  
}

.next-prev {
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;

}