
.pokemon-card {
  position: relative;
  border: 5px solid;
  border-radius: 2px;
  border-color: rgba(255, 255, 0, 0.672);
  overflow: auto;
  background-color: #606060;
  transition: transform 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-card:hover {
  transform: translateY(-5px);
}

img {
  width: 90px;
  height: 50px;
  border: 5px solid;
  border-radius: 8px;
  border-color: rgba(175, 175, 175, 0.837);  
  width: 100%;
  height: 100%;
}

.pokenum {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 10px;
}

/* .pokemon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(179, 174, 174, 0.035),
    rgba(0, 0, 0, 0.434)
  );
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
} */

.pokemon-card:hover .pokemon-overlay {
  opacity: 1;
}

.favorite-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgba(162, 161, 161, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.favorite-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.favorite-btn.active {
  color: #ff4757;
}


.pokemon-info {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pokemon-info h3 {
  color: #999;
  font-size: 2rem;
  margin: 0;
}

.pokemon-info p {
  color: #999;
  font-size: 1rem;
}

.pokemon-info {
  padding: 0.75rem;
}

.favorite-btn {
  width: 32px;
  height: 32px;
  font-size: 1.2rem;
}

.shiny-btn {
  background-color: rgb(48, 47, 51);
  border: 1px solid whitesmoke;
  border-radius: 99px;
  width: 50px;
  height: 20px;
  transition: backgroud-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  box-shadow: 1px 1px 10px black;
  position: relative;
  left: 17px;
}

.shiny-btn .thumb {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 44px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.shiny-btn.isShiny {
  background-color: rgb(22, 173, 22);
}

.shiny-btn:hover {
  border-color: grey;
}

.shiny-btn.shiny-btn.isShiny .thumb {
  left: calc(50px - 25px);
}