.pokemon-card {
  position: relative;
  grid-template-columns: 60px 60px;

}

.pokemon-card:hover {
    transform: translateY(-5px);
}

.pokemon-card {

}



.pokemon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(90, 16, 16, 0.819),
    rgba(0, 0, 0, 0.8)
  );
  opacity: 0;
  transition: opacity 0.2s;
  display: grid;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}

.pokemon-card:hover .pokemon-overlay {
  opacity: 1;
}

.favorite-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.favorite-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.favorite-btn.active {
  color: #ff4757;
}