@media (min-width: 400px) {
body  {
  background-image: url("./images/pokeball_bg.jpeg");
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 10px;
    font-size: 16px;
    min-height: 100vh;

}
}

.header {
  background-color: rgba(255, 19, 19, 0.664);
  padding: 10px 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4dvb;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
}



li a {
  display: block;
  border-radius: 4cap;
  color: rgb(220, 220, 220);
  padding: 8px 16px;
  text-decoration: none;
  text-align: right;
}

li a:hover {
  background-color: #c9c9c9;
  color: black;
}

.footer {
  /* margin-top: auto; */
  position: fixed;
  left: 1%; right: 1%; bottom: 1%;
  background-color: rgb(164, 164, 165);
  padding: 1px 10px;
  color: white;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  text-align: center;
  align-items:end;
  border-radius: 2dvb;
  z-index: 1000;
}

main { padding-bottom: 64px; }

header .pokemon-orange {
  text-align: center;
 
}


h3 {
  color: rgb(170, 183, 183);
}

.edtBtn {
  font-size: 10px;
  border-radius: 8px;
  transition-duration: 0.4s;
  background-color: #ae0d0d9b;
}

.edtBtn:hover {
  background-color: rgba(76, 74, 74, 0.816);
  color: white;
}

.finishBtn {
    font-size: 10px;
  border-radius: 8px;
  transition-duration: 0.4s;
  background-color: #ae0d0d9b;
}

.finishBtn:hover {
  background-color: rgba(76, 74, 74, 0.816);
  color: white;
}
