body {
  background-image: url('./images/pokeball_bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  
}

.header {
  background-color: rgba(255, 19, 19, 0.664);
  padding: 10px 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4dvb; 
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  text-align: right;
}

li a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
  position: fixed;
  width: 97.3%;
  background-color: rgb(164, 164, 165);
  padding: 10px 10px;
  color: white;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  text-align: center;
  border-radius: 2dvb;
}
