body{
    background-color: rgb(165, 165, 165);
}

.header {
    background-color: rgb(38, 38, 142);
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    background-color: rgb(38, 38, 142);
    padding: 10px 20px;
    color: white;
    display: flex;
    bottom: 0;   
    justify-content: space-around;
    text-align: center;
    position: fixed;
}